html{
    box-sizing: border-box;
    font-size: 62.5%;
}


*, *::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding:0;
    background: url(fondo.png);
    /* overflow:hidden; */
}


header {
    min-height: 15vh;
    background-color: #3f3f3f; 
    display:flex;
    align-items:center;
    justify-content:center;   
}
h1{
    font-size: 3.5rem;
    color: #dfd7d7;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;   
    width:80%;
    margin:auto;
    padding-top:100px; 
    color:#3f3f3f;
     
}





button{
    display: inline-block;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}

button:focus{
    outline:none;
}
button:hover{
font-size: 1.8rem;

}

form div{
    margin-bottom:30px;
    font-size: 1.8rem;
    width:300px;
    text-align:left;
}

form input{
    width: 115px;
    height:25px;
    font-size: 1.8rem;
    border-color:orange;
    border-radius: 5px;
    border-width: 2px;
    text-align:center;
    border-style: solid;
    background-color: transparent;
}
form select{
    width: 90px;
    font-size: 1.8rem;
    border-color:orange;
    border-radius: 5px;
    background-color: transparent;
    border-width: 2px;

}

form input:focus, select:focus{
        outline:none;
    }


#cuota{
    font-size: 2rem;
    width:300px;
    text-align:left;    
    height: 130px;
    
}
#cuota div{
    background-color: #3f3f3f; 
    border-radius:5px;
    color: #dfd7d7;
    font-weight: 500;
    padding:10px;
}

img{
    width:400px;
    height:auto;
}

#tit{
    padding-top:50px;
    font-size:2.7rem;
    color:#3f3f3f;
    font-weight: 600;
}